<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- vendor css -->
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Scripts/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/Scripts/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/Scripts/lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="~/Scripts/lib/rickshaw/rickshaw.min.css" rel="stylesheet">
    <link href="~/Scripts/lib/chartist/chartist.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="~/Scripts/css/bracket1.css">
</head>
<body>
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href="#">LOGO</a></div>
    <div class="br-sideleft overflow-y-auto">
        <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
        <div class="br-sideleft-menu">
            <a href="@Url.Action("Index", "Home")" class="br-menu-link active">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                    <span class="menu-item-label">HOME</span>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->

            <a href="mailbox.html" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
                    <span class="menu-item-label">VOTERS</span>
                    <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->

            <ul class="br-menu-sub nav flex-column inactive">
                <li class="nav-item"><a href="@Url.Action("", "")" class="nav-link">Voter Addition</a></li>
                <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">Voter Deletion</a></li>
                <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">Voter Correction/Transfer</a></li>
            </ul>

            <a href="@Url.Action("Search", "Home")" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                    <span class="menu-item-label">SEARCH</span>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->

            <a href="card-dashboard.html" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                    <span class="menu-item-label">CHANGE PASSWORD</span>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->

            <a href="@Url.Action("ViewVoter", "Home")" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                    <span class="menu-item-label">VIEW PROFILE</span>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->


            <a href="#" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-filing-outline tx-20"></i>
                    <span class="menu-item-label">USER PROFILES</span>
                    <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub nav flex-column">
                <li class="nav-item"><a href="@Url.Action("Index", "Login")" class="nav-link">List of Profiles</a></li>
                <li class="nav-item"><a href="@Url.Action("NewUser", "Login" , new { id=0 })" class="nav-link">Create New Profile</a></li>
            </ul>


            <a href="#" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                    <span class="menu-item-label">USER MANAGEMENT</span>
                    <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub nav flex-column">
                <li class="nav-item"><a href="@Url.Action("", "")" class="nav-link">Log-In</a></li>
                <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">Log-Out</a></li>
                <li class="nav-item"><a href="@Url.Action("", "")" class="nav-link">Forget Password</a></li>
            </ul>


            <a href="card-dashboard.html" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                    <span class="menu-item-label">REPORTS</span>
                    <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub nav flex-column">
                <li class="nav-item"><a href="@Url.Action("", "")" class="nav-link">Authorization of Extended Data</a></li>
                <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">Duplicate Voters - Find possible or potential Duplicates by intelligence matching</a></li>
                <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">User's List</a></li>
                <li class="nav-item"><a href="@Url.Action("", "")" class="nav-link">Extended data collected by Users over a period of time</a></li>
                <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">Adding Comminty / Importing Community</a></li>
                <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">Provision for importing data into Voters Master - Corrections, Additions and Deletions</a></li>
                <li class="nav-item"><a href="@Url.Action("", "")" class="nav-link">Booth Wise Voter List - PDF and Excel - Ability to select Polling Station /Part, section, VoterType with provision to select Columns</a></li>
                <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">Individual Status Reports for Requests, i.e New Voter, Voter Transfer and Voter Correction Requests</a></li>
                <li class="nav-item">
                    <a href="@Url.Action("", "" , new { id=0 })" class="nav-link">
                        <div class="br-menu-item">
                            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                            <span class="menu-item-label">Reports listing Apartment wise Voter Details showing Verification Status</span>
                            <i class="menu-item-arrow fa fa-angle-down"></i>
                        </div>
                    </a>
                </li>
                <ul>
                    <li class="nav-item"><a href="@Url.Action("", "")" class="nav-link">Graph - Gender Wise Trends</a></li>
                    <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">Party wise strengths ( Use respective Colours for Political Parties , ex: Yellow for TDP)</a></li>
                    <li class="nav-item"><a href="@Url.Action("", "" , new { id=0 })" class="nav-link">Age group Wise Trends ( 18 to 30 Years, 30 to 45 years, 45 to 60 Years, 60 Years and above)</a></li>
                </ul>

            </ul>

            <a href="card-dashboard.html" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                    <span class="menu-item-label">LOGOUT</span>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->



        </div><!-- br-sideleft-menu -->

    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="#"><i class="icon ion-navicon-round"></i></a></div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="#"><i class="icon ion-navicon-round"></i></a></div>
            <div class="input-group hidden-xs-down wd-170 transition">
                <input id="searchbox" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div><!-- input-group -->
        </div><!-- br-header-left -->
        <div class="br-header-right">
            <nav class="nav">
                <!-- dropdown -->
                <!-- dropdown -->
                <div class="dropdown">
                    <a href="#" class="nav-link nav-link-profile" data-toggle="dropdown">
                        <span class="logged-name hidden-md-down">Admin</span>
                        <img src="img/img1.jpg" class="wd-32 rounded-circle" alt="">
                        <span class="square-10 bg-success"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-header wd-200">
                        <ul class="list-unstyled user-profile-nav">
                            <li><a href="#"><i class="icon ion-ios-person"></i> Edit Profile</a></li>
                            <li><a href="#"><i class="icon ion-power"></i> Sign Out</a></li>
                        </ul>
                    </div><!-- dropdown-menu -->
                </div><!-- dropdown -->
            </nav>
            <!-- navicon-right -->
        </div><!-- br-header-right -->
    </div><!-- br-header -->

    <div class="container body-content">
        @RenderBody()

    </div>
    <script src="~/Scripts/lib/jquery/jquery.js"></script>
    <script src="~/Scripts/lib/popper.js/popper.js"></script>
    <script src="~/Scripts/lib/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/Scripts/lib/moment/moment.js"></script>
    <script src="~/Scripts/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/Scripts/lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="~/Scripts/lib/peity/jquery.peity.js"></script>
    <script src="~/Scripts/lib/chartist/chartist.js"></script>
    <script src="~/Scripts/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/lib/d3/d3.js"></script>
    <script src="~/Scripts/lib/rickshaw/rickshaw.min.js"></script>


    <script src="~/Scripts/js/bracket.js"></script>
    <script src="~/Scripts/js/ResizeSensor.js"></script>
    <script src="~/Scripts/js/dashboard.js"></script>
    <script>
        $(function () {
            'use strict'

            // FOR DEMO ONLY
            // menu collapsed by default during first page load or refresh with screen
            // having a size between 992px and 1299px. This is intended on this page only
            // for better viewing of widgets demo.
            $(window).resize(function () {
                minimizeMenu();
            });

            minimizeMenu();

            function minimizeMenu() {
                if (window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
                    // show only the icons and hide left menu label by default
                    $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
                    $('body').addClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideUp();
                } else if (window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
                    $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
                    $('body').removeClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideDown();
                }
            }
        });
    </script>
</body>
</html>
